.schedule h2 {
	font-weight: 300;
	font-size: large;
}

.schedule h1 {
	font-size: xx-large;
	font-weight: 600;
	text-align: center;
	padding-top: 40px;
	padding-left: 20px;
	padding-right: 20px;
}

.react-calendar {
	box-shadow: none;
	border-radius: 0px;
	box-shadow: none;
	text-align: center;
	padding: 0;
	margin: 30px;
}

.react-calendar__navigation {
	display: flex;
	justify-content: center;
	align-items: center;
}

.react-calendar__navigation__label {
	border: none;
	color: black;
	padding: 8px 20px;
	margin: 5px;
	width: fit-content;
	font-size: medium;
	border-radius: 8px;
	box-shadow: none;
}

.react-calendar__navigation__label:hover {
	border-radius: 20px;
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__prev-button,
.react-calendar__navigation__next-button,
.react-calendar__navigation__next2-button {
	border: none;
	color: black;
	grid-row: 2;
	border-radius: 5px;
	box-shadow: none;
	text-align: center;
	font-size: x-large;
	font-weight: 400;
	padding: 2px 10px;
	margin: 20px 5px;
	width: 15vw;
}

.react-calendar__navigation__prev2-button:hover,
.react-calendar__navigation__prev-button:hover,
.react-calendar__navigation__next-button:hover,
.react-calendar__navigation__next2-button:hover {
	border-radius: 20px;
}

.react-calendar__tile {
	border-radius: 0px;
	box-shadow: none;
	text-align: center;
	padding: 8px;
	margin: 0px;
	border: none;
	font-size: medium;
	font-weight: 200;
	color: black;
}

.react-calendar__tile:hover {
	border-radius: 20px;
}

.react-calendar__month-view__weekdays {
	margin: 15px 0px;
}

.react-calendar__month-view__weekdays__weekday abbr {
	text-decoration: none;
	color: #454545;
}