.intro {
    background-color: #075F63;

    @media only screen and (max-width: 768px) {
        width: 100vw;
        height: 100vh;    
    }
    @media only screen and (min-width: 768px) {
        width: 100vw;
        height: 100vh;
    }

}

.header-img {
	width: 100%;
}

.intro h2 {
	color: white;
	font-weight: 300;
	font-size: large;
    text-align: left;
}

.intro h1 {
	color: white;
	font-size: xxx-large;
    text-align: left;
}

.intro-info {
	margin: 20px;
	line-height: 1.5rem;
}

.intro-info-buttons {
    padding-top: 30px;
}