* {
	font-family: "Poppins", sans-serif;
}

body {
	margin: 0;
	padding: 0;
	border: 0;
}

.btn {
    border-radius: 10px;
    text-align: center;
    padding: 13px 20px;
    margin: 15px 0px;
}

.btn-primary {
    background-color: #49BEB6;
    color: white;
}

.btn-secondary {
    background-color: #216F73;
    color: white;
}