.book{
    text-align: center;
}

button{
    color: #49BEB6;
    background-color: white;
    border: 2px solid #49BEB6;
    border-radius: 20px;
    padding: 10px 50px;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 5vh;
}

.back{
    margin-top: 0px;

}
.dropdown{
    align-self: center;
}

select{
    border: 3px solid #49BEB6;
    border-radius: 10px;
}

li{
    margin: 10px 100px;

}

h3{
    margin-top: 25px;
}

button, select{
    box-shadow: 5px 5px 20px #d3d3d3, -5px -5px 20px #d3d3d3;
}


  
button:hover, button:focus {
    background-color: #49BEB6;
    color: white;
}